### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
target/
/target/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
.class
*.class

### VS Code ###
.vscode/

### Office ###
*.tmp
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*
~$*

*.jar
